gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
**/*firebase-adminsdk*.json
**/*service_account*.json
**/*service-account*.json
**/*private_key*.json
**/*.pem
**/*.p12
**/*.p8
